<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <div>
      <h1>Sign Up</h1>
    </div>
    <div>
      {% if error %}
      <span style="color: red"  >{{ error }}</span>
    {% endif %}
    </div>
    <div>
      {% if error1 %}
      <span style="color: red">{{ error1 }}</span>
    {% endif %}
    </div>
    <form id="user_signup" method="post">
      {% csrf_token %}
      <div>
        <label>Username:</label>
        <label>
          <input type="text" name="username" value="" maxlength="100"
                 pattern="^[a-zA-Z0-9_]{3,}$"
                 title="UserName Contains minimum 3 letters and numbers " required="required">
                  <small class="error" >Required Field</small>
        </label>
      </div>
      <br>
      <div>
        <label>First Name:</label>
        <label>
          <input type="text" name="first_name" value="" maxlength="40"
                 pattern="[a-zA-Z]+"  title="First Name contains only letters"
                 required>
        </label>
      </div>
      <br>
      <div>
        <label>Last Name:</label>
        <label>
          <input type="text" name="last_name" value="" maxlength="40"
                 pattern="[a-zA-Z]+" title="Last Name contains only letters"
                 required>
        </label>
      </div>

      <div>
        <label>Email:</label>
        <label>
          <input type="email" name="email" value="" maxlength="255" required>
        </label>
      </div>

      <div>
        <label>Password:</label>
        <label>
          <input type="password" name="password" value="" minlength="3" required>
        </label>
      </div>

      <div>
        <label>Confirm Password:</label>
        <label>
          <input type="password" name="confirm_password" value="" minlength="3" required>
        </label>
      </div>

      <div>
        <label for="id_company">Company:</label>
        <select name="company" required id="id_company">
          {% for company in company_qs %}
            <option value={{ company.id }}>{{ company.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label for="id_client">Client:</label>
        <select name="client" required id="id_company">
          {% for company in company_qs %}
            <option value={{ company.id }}>{{ company.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label>Gender</label>
        <label>
          <input type="radio" name="gender" value="male" checked>Male
          <input type="radio" name="gender" value="female">Female
        </label>
      </div>

      <div>
        <label>
          <input type="submit" value="submit">
        </label>
      </div>
    </form>
  </body>
</html>