<html>
  <head>
    <title>SHOW STORIES</title>
  </head>
  <body style="margin: 100px; display: inline-block; border: 1px solid black">
    <div style="width: 1000px;">
      <div>
        <form method="GET" action="/page/search">
          <span style="margin: 10px; width: 180px; display: inline-block">
            <input type="text" placeholder="search by title" name="search_box">
          </span>

          <span style="margin: 10px; width: 300px; display: inline-block">
            <button type="submit">Go</button>
          </span>
        </form>
        <div style="margin: 10px; width: 180px; display: inline-block">
          {% for j in qs1 %}
            <li><a href="{{ j.url }}" >{{ j.title }}</a></li>
          {% endfor %}
        </div>

        <span style="margin: 10px; width:300px; display: inline-block">
          <a href="/page/addstory">Add A Story</a>
        </span>

        <span style="margin: 10px; width: 150px; display: inline-block">
          <a href="/page/listing">View Source</a>
        </span>
      </div>
      <div>
        <script>
          var count=1
        </script>
        {% for i in qs %}
          <script>
           document.write(count)
          </script>
          <div style="border: 1px solid black; height: 250px;">
            <span style="margin: 10px; width: 350px; display: inline-block">
              <span style="color: brown">Title:</span>
              <a href="{{ i.url }}">{{ i.title }}</a>
            </span>

            <span style="margin: 10px; width: 700px; display: inline-block">
              <span style="color: brown">Source Name: </span>
              {{ i.source.name }}
            </span>

            <span style="margin: 5px; width: 350px; display: inline-block">
              <span style="color: brown">Company Name:</span>
              {% for j in i.company.all %}
                {{ j.name }}
              {% endfor %}
            </span>

            <span style="margin: 10px; width: 620px; display: inline-block">
              <span style="color: brown">Published Date: </span>
              {{ i.pub_date }}
            </span>

            <span style="margin: 10px; width: 580px; display: inline-block">
              <span style="color: brown">Body Text: </span>
              {{ i.body_text }}
            </span>

            <span style="margin: 30px; width: 150px; display: inline-block">
              <a href="/page/edit_story/{{ i.id }}">Edit</a>
            </span>

            <span style="margin: 10px; width: 100px; display: inline-block" >
              <a href="/page/delete_story/{{ i.id }}">Delete</a>
            </span>
          <script>
           count+=1
        </script>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>